html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(102.58deg, #FF5B82, #FF92DA, #83A6FF);
    border-radius: 100px;
}

/* ________________________________________________ */

body {
    background-color: #000;
    color: #ffffffde;
    /* color: white; */
    width: 75%;
    margin: auto;

}

.displayFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    /* position: fixed; */
    /* width: 100%; */
    height: 69px;
    background-color: #000000;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #ff7070 50%, #9d92ff 75%, #ffb6d3 100%);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

nav #navHeading {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffffec;
    text-decoration: none;
    margin-left: 15px;
    line-height: 70px;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

.navUlForSmallDevice {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 70px;
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

nav ul a {
    color: #ffffffec;
    text-decoration: none;
    margin: 0px 10px;
    line-height: 70px;
    cursor: pointer;
}

nav ul li a:hover {
    background: linear-gradient(102.58deg, #FF5B82 13.06%, #FF92DA 59.22%, #83A6FF 89.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.topDiv {
    width: 100%;
    height: 700px;
    padding-top: 100px;
}

.topDiv .left {
    max-width: 500px;
}

.topBtnContainer {
    margin-top: 20px;
    display: flex;
}

.topBtnContainer a {
    text-decoration: none;
    font-size: 1.2rem;
    width: 170px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}

.topBtnContainer a:first-child {
    background: linear-gradient(102.58deg, #ff5b81ee 13.06%, #de78bc 59.22%, #93b1fb 89.83%);
    border-radius: 12.5px;
    opacity: 0.94;
    padding: 2px;
    color: white;
    margin-right: 20px;
}

.topBtnContainer a:last-child {
    background: linear-gradient(102.58deg, #ff5b81ee 13.06%, #de78bc 59.22%, #93b1fb 89.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: 2px solid #de78bccb;
    border-radius: 12.5px;
    /* padding: 6px 33px; */
}

.topDiv .left .textBox {
    padding: 10px;
}

.topDiv .left .textBox h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    background: linear-gradient(102.58deg, #FF5B82 13.06%, #FF92DA 59.22%, #83A6FF 89.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0px;
}

.topDiv .left .textBox p {
    font-size: 1.4rem;
}

.leftRightContainer {
    width: 100%;
    margin: auto;
    padding: 100px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* border: 3px solid purple; */
}

/*Menu Button____________________*/
.menuButton {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 13.4px;
    top: 7px;
    font-size: 2.2rem;
}

/*End Menu Button____________________*/

.ourHR {
    background-color: #222;
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}

.contentHeading {
    width: fit-content;
    margin: 90px auto;
    background: linear-gradient(102.58deg, #FF5B82 13.06%, #FF92DA 59.22%, #83A6FF 89.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.servicesContainer {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.services {
    background-color: #222;
    height: fit-content;
    width: 400px;
    /* height: 394px; */
    overflow: hidden;
    /* border-radius: 30px; */
    margin: auto;
    border-radius: 12.5px;
}

.services .topBox {
    background: linear-gradient(93.29deg, #5078DE 16.03%, #FF5B82 95.19%);
}

.services .topBox img {
    width: 80px;
    margin: auto;
    padding: 20px 0px;
    display: block;
}

.topBox h1 {
    width: 100%;
    /* background-color: #9d92ff; */
    text-align: center;
    padding-bottom: 20px;
}

.services p {
    padding: 20px;
}

.skills {
    display: grid;
    grid-template-columns: auto auto;
}

.skills .skillBox {
    background-color: #222;
    margin: 12px;
    border-radius: 12.5px;
}

.skillBox h4 {
    padding: 20px;
}

.skills .skillBox .levelBox {
    width: 300px;
    height: 25px;
    border-radius: 100px;
    border-top-left-radius: 0px;
    background: linear-gradient(102.58deg, #FF5B82, #FF92DA, #83A6FF);
}

/* ________________Projects________________ */
.projectsBoxContainer {
    /* background-color: brown; */
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.projectsBoxContainer .projectBox {
    overflow: hidden;
    width: 300px;
    height: fit-content;
    /* background-color: #6c96ff;
    background: linear-gradient(102.58deg, #ff856d, #ff75d1, #83A6FF); */
    background-color: #222;
    padding-bottom: 8px;
    border-radius: 12.5px;
    margin: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

.projectsBoxContainer .projectBox img {
    width: 100%;
}

.projectsBoxContainer .projectBox video {
    width: 300px;
    height: 200px;
}

.projectsBoxContainer .projectBox h3 {
    width: 100%;
    padding: 9px 0px;
    text-align: center;
    font-size: 1.25rem;
}

.projectsBoxContainer .projectBox p {
    width: fit-content;
    padding: 2px 10px;
    margin-left: 8px;
}

.projectsContainer {
    margin-bottom: 67.5px;
}

.projectsContainer .viewAll {
    color: #ffffffde;
    text-decoration: none;
    display: block;
    width: fit-content;
    float: right;
    margin-right: 15px;
    margin-top: 9px;
    padding: 9px 25px;
    border-radius: 12.5px;
}


/* ________________End of Projects________________ */



/* _________________Contact Us___________________________ */

.contactUsContainer .contactOptions {
    display: grid;
    grid-template-columns: auto auto;
    width: 99%;
    margin: auto;
}

.contactUsContainer .contactOptions .options {
    display: block;
    border-radius: 12.5px;
    margin: 17px;
    padding: 20px;
    background-color: #222;
    color: #ffffffd5;
    position: relative;
}

.contactUsContainer .contactOptions .options img {
    width: 50px;
    display: block;
    filter: saturate(1.3);
    margin: 10px auto;
}

.options h2 {
    border-bottom: 1px solid #777;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.options a {
    text-decoration-color: #ffffff78;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    opacity: 0.7;
}

/* _________________End Contact Us___________________________ */

/* _____________________About US_______________________ */
.aboutUsContainer .textContainer {
    width: 95%;
    margin: auto;
    background-color: #222;
    border-radius: 12.5px;
    padding-bottom: 30px;
    padding-top: 12px;
    margin-bottom: 20px
}

.aboutUsContainer .textContainer h2 {
    width: 95%;
    margin: 0px auto;
    padding-top: 15px;
}

.aboutUsContainer .textContainer p {
    width: 95%;
    margin: 0px auto;
}

.aboutUsContainer .textContainer .language {
    width: 95%;
    margin: auto;
    margin-top: 7px;
    border-radius: 12.5px;
}

.aboutUsContainer .textContainer .language h4 {
    margin: 10px 0px;
}

.aboutUsContainer .textContainer .language .levelBox {
    height: 5px;
    border-radius: 100px;
    background: linear-gradient(102.58deg, #FF5B82, #FF92DA, #83A6FF);
}


/* _____________________End About US_______________________ */


/*Meadia queryies_____________________________*/
@media only screen and (max-width: 1711px) {
    .servicesContainer {
        /* grid-template-columns: auto auto; */
        display: flex;
        flex-wrap: wrap;
    }

    .services {
        margin: 20px auto;
    }
}

@media only screen and (max-width: 1313px) {
    body {
        width: 90%;
    }

    .leftRightContainer {
        padding: 28px 0px;
    }

    .topDiv {
        height: 555px;
    }
}

@media only screen and (max-width: 1024px) {
    .topDiv .left .textBox h1 {
        font-size: 2.5rem;
    }

    .topDiv {
        height: 300px;
    }

    body {
        width: 98%;
    }

    .leftRightContainer {
        padding: 28px 0px;
    }
}

@media only screen and (max-width: 988px) {
    .topDiv .left .textBox h1 {
        font-size: 2.1rem;
    }

    #profileForLD {
        width: 229px !important;
    }

    .topDiv .left .textBox p {
        font-size: 0.9rem;
    }

    nav {
        position: static;
        width: 100%;
        background-color: #000000d3;
        backdrop-filter: blur(17px) saturate(170%);
    }

    .navUlForSmallDevice {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 70px;
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 854px) {
    .services {
        width: 340px;
    }

    body {
        width: 100%;
    }

    nav {
        position: fixed;
        width: 100vw;
        background-color: #000000d3;
        backdrop-filter: blur(17px) saturate(170%);
    }

    .menuButton {
        display: block;
    }

    nav ul {
        /* display: none; */
        visibility: collapse;
        transform: scale(0);
        opacity: 0;
    }

    .leftRightContainer {
        padding: 1px 0px;
    }

    /* .leftRightContainer .left {
        width: 100%;
    } */

    /* .leftRightContainer .right {
        display: none;
    } */

    .topDiv {
        height: 169px;
        padding-top: 160px;
    }
}

@media only screen and (max-width: 730px) {
    .services {
        width: 327px;
    }

    .services .topBox h1 {
        font-size: 1.8rem;
    }

    .skills {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 696px) {
    .servicesContainer {
        grid-template-columns: auto;
    }

    .services {
        width: 500px;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 528px) {
    .services {
        width: 95%;
    }
}


@media only screen and (max-width: 444px) {
    .topDiv {
        height: 200px;
    }
}

/* ______________For AboutContainer________________ */
@media only screen and (max-width: 782px) {
    .aboutUsContainer .textContainer h2 {
        width: 92%;
    }

    .aboutUsContainer .textContainer p {
        width: 92%;
    }

    .aboutUsContainer .textContainer .language {
        /* background-color: red; */
        width: 92%;
    }
}

@media only screen and (max-width: 648px) {
    .topBtnContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .topBtnContainer a {
        margin-bottom: 20px;
    }

    .topDiv {
        height: 270px;
    }
    #profileForLD {
        margin-top: -100px;
      }
}

@media only screen and (max-width: 556px) {
    /* #profilePicForSM {
        margin-top: -23px;
        margin-right: -5px;
        position: absolute;
        margin: 0;
        right: 0;
        width: 168px;
        top: 160px;
        z-index: -10;
    } */

    .topDiv .left .textBox p {
        max-width: 220px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutUsContainer .textContainer h2 {
        width: 90%;
    }

    .aboutUsContainer .textContainer p {
        width: 90%;
    }

    .aboutUsContainer .textContainer .language {
        /* background-color: red; */
        width: 90%;
    }
}

@media only screen and (max-width: 574px) {
    #profileForLD {
        margin-top: -195px;
        width: 171px !important;
      }
}
@media only screen and (max-width: 512px) {
    #profileForLD {
       display: none;
    }
    .leftRightContainer{
        justify-content: start;
    }
    .topDiv .left .textBox{
        margin: 10px;
    }
}
@media only screen and (max-width: 487px) {
    .contactUsContainer .contactOptions .options {
        transform: scale(0.8);
        margin: 0px;
    }
    .skillBox h4{
        padding: 12px;
    }
    .skills .skillBox .levelBox{
        height: 14px;
    }
    .projectsBoxContainer .projectBox{
        transform: scale(0.95);
    }
    .projectsBoxContainer .projectBox h3{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 380px) {
    .topDiv .left .textBox h1 {
        font-size: 1.7rem;
    }
    .topBtnContainer a{
        font-size: 0.97rem;
    }
    .services .topBox img {
        width: 70px;
        padding: 20px 0px;
      }
    
    .topDiv .left .textBox p {
        font-size: 0.79rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    h3,
    .projectsBoxContainer .projectBox h3 {
        font-size: 0.9rem;
    }

    .services .topBox h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.9rem;
    }

    .projectsContainer .viewAll {
        transform: scale(0.87);
    }
    .topDiv {
        height: 150px;
    }

    nav #navHeading {
        font-size: 1.4rem;
    }

    .menuButton {
        top: 11px;
        font-size: 1.8rem;
    }

    .skills .skillBox .levelBox {
        height: 13px;
    }

    nav ul li a {
        font-size: 0.9rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        background-color: #000000;
    }

    .skillBox h4 {
        padding: 14px;
    }

    h2 {
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 268px) {
    .contactUsContainer .contactOptions .options {
        transform: scale(0.7);
    }

    h2 {
        font-size: 1.3rem;
    }
}

/*zEnd Meadia queryies_____________________________*/